head
 // Required meta tags
 meta(charset="UTF-8")
 meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
 meta(http-equiv="X-UA-Compatible", content="ie=edge")
 meta(name="og:type", content="Website")
 meta(name="og:site_name", content="Conex Telecom Aragua")
 meta(name="og:locale", content="es_ES")
 meta(name="og:url", content="https://prointelecto.com.ve/conex/")
 meta(name="title", content="Conex Telecom Aragua Website de Entrenamiento")
 meta(name="og:description", content="Website de entrenamiento y archivos de empresas. Para tener un sistema de verdades en la web.")
 // metas de fav
 link(rel="shortcut icon", href=linksUrl[1]+logoResponsive[0], type="image/x-icon")
 link(rel="apple-touch-icon", href=linksUrl[1]+logoResponsive[3], type="image/png", sizes="180x180")
 link(rel="icon", href=linksUrl[1]+logoResponsive[3], type="image/png", sizes="196x196")
 

 // Bootstrap CSS
 link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
 link(rel="stylesheet", href=linksUrl[1]+"assets/css/style.css")
