
//- Contenido del index
mixin boxWithText(a="#", img="assents/img/icons/arrow_head.svg", n="", title="Box con texto", texto="Texto de la card")
 a(class="m-box m-box__anima", href=""+a)
  .m-box__title
   img(class="m-box__img", src=""+img, alt=""+n)
   span=title
  p.a-box__text=texto

mixin boxWithoutAll(a="#", img="assents/img/icons/arrow_head.svg", n="", title="Box con texto")
 a(class="m-box -box__anima1", href=""+a)
  .m-box__title
   img(class="m-box__img", src=""+img, alt=""+n)
   span=title

mixin boxWithImg(i="2", a="#", img="assents/img/icons/arrow_head.svg", n="", title="Box con texto")
 a(class="m-box -box__anima"+i, href=""+a)
  .m-box__title
   img(class="m-box__img", src=""+img, alt=""+n)
   span=title
 
mixin boxWithAll(i="2", a="#", img="assents/img/icons/arrow_head.svg", n="", title="Box con texto", texto="Texto de la card para explicar este link, así que pon tu explícación")
 a(class="m-box -box__anima"+i, href=""+a)
  .m-box__title
   img(class="m-box__img", src=""+img, alt=""+n)
   span=title
  p.a-box__text=texto


//- Menu de Contenidos
mixin menuSectionHeader(img,title="Título")
 span.m-containerHeading__itemHeader.-linkHover
  .a-imgHeader
   .a-imgHeader__icon
    .a-imgHeader__container
     img(src=linksUrl[1]+""+img, alt="logo de la sección"+title).a-imgHeader__img
  .a-titleHeader
   .a-titleHeader__container
    span.a-titleHeader__title=title

mixin titleGroupContent(c, n)
 div(class="a-itemGroup__groupTitle "+c)
  .a-itemGroup__groupTitleText
   .a-itemGroup__navItem
    .a-itemGroup__navItemText=n

mixin itemContent(i, plus="", link="#", n="Nuevo")
 a(id=""+i, class="a-itemContent"+plus, href=""+link)
  span.a-titleHeader__title
   span.a-titleHeader__title=n

//- Menu Global desplegado
mixin linkPageMenuGlobal(a="#",n="Link abordo!!")
 a(class="a-itemContent -globalLink -colorWhite", href=""+a)
  .a-itemPart
   .a-itemPart__content=n

//- Contenido de texto
mixin titleContent(t="Pon aquí tu increíble título")
 div
  .a-gridElement
   .a-gridElement__gridColumnLeft
    div
   .a-gridElement__gridColumnBox
    div: h2=t

mixin contenidoGrid(text)
 .a-gridElement
  .a-gridElement__gridColumnLeft
   div
  .a-gridElement__gridColumnBox
   div
    p=text

mixin linkBeAfInicio(a1=".", b1="", a2=".", b2="")
 div
  .a-gridElement.pb-2
   .a-gridElement__gridColumnLeft
    div
   .a-gridElement__gridColumnBox.container-fluid
    .row
     .col-6.p-0.text-left: a(class="m-beforeLink "+b1, href=""+a1)
      .a-linkArrow__left
       img(src=linksUrl[1]+"assets/img/icons/arrow_head.svg", alt="Arrow head Link")
      | Anterior
     .col-6.p-0.text-right: a(class="m-afterLink "+b2, href=""+a2) Siguiente
      .a-linkArrow__right
       img(src=linksUrl[1]+"assets/img/icons/arrow_head.svg", alt="Arrow head Link")

//- Links a contenidos next up/related
mixin relatedLink(no="",a="#", n="Vamos al link anterior")
 div(class="m-relatedLink -flex "+no)
  h3.m-relatedLink__title Anterior
  ul.m-relatedLink__link
   li: a(class="m-nextUpLink__element", href=""+a)
    .m-relatedLink__img
    span=n

mixin nextUpLink(no="", a="#", n="Vamos al link seguiente ahora!!")
 div(class="m-nextUpLink -flex "+no)
  h3.m-nextUpLink__title Siguiente
  ul.m-nextUpLink__link
   li: a(class="m-nextUpLink__element", href=""+a)
    .m-nextUpLink__img
    span=n

//- Nav Mobile

mixin navItemMobile(i="", l="", a="#", n="Link")
 li(class="nav-item "+i)
  a(class="nav-link -colorWhite "+l , href=""+a)=n


//- FAQ
mixin nameFaq(id="faq1", n="pregunta")
 a(data-toggle="collapse", class="collapsed aqui" href="#"+id)
  span=n
  .a-iconFaq
   .a-iconFaq__icon